.ImageUpload{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    bottom: 0;

}
.ImageUpload_progress{
    width: 100%;


}